body {
    font-family: "Roboto", Arial, sans-serif;
}

.font-header {
    font-family: "Roboto Slab";
    font-size: 1.5em;
}

.font-hashtag {
    font-family: "Permanent Marker";
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: lightgrey;
    color: #fff;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.buttons--disabled {
    background: darkgrey;
}

.buttons--red {
    background: #FF334C;
}