<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ul class="iconList">
    {{#list}}
        <li>
            <div>
                <i class="material-icons {{{modifier}}} md-36 iconImg">{{icon}}</i>
                <p class="iconTxt">{{description}}</p>
            </div>
        </li>
    {{/list}}
</ul>