<ul class="sg-colors">
		{{#list}}
            <li>
                <span class="sg-swatch" style="background: #{{colorHex}};"></span>
                <span class="sg-label">
                    $color-brand-{{colorName}} <br />
                    #{{colorHex}}
                </span>
            </li>
        {{/list}}
</ul>