<ul class="primaryNav">
    {{#list}}
        <li>
            <a href="{{{link}}}" class="navItem">
                <i class="material-icons {{{modifier}}} md-36 iconImg">{{icon}}</i>
                <p class="iconTxt">{{description}}</p>
            </a>
        </li>
    {{/list}}
</ul>